<div class="style-switcher brutalist">
  <div class="switcher-label">ESTILO // SELECÇÃO</div>
  <div class="switcher-buttons">
    <button onclick="location.href = '/index.html'">HOME</button>
    <button
      class="{{activeEditorial}}"
      onclick="location.href = '/designs/editorial/index.html'"
    >
      EDITORIAL
    </button>
    <button
      class="{{activeBrutalist}}"
      onclick="location.href = '/designs/brutalist/index.html'"
    >
      BRUTAL
    </button>
    <button
      class="{{activeOrganic}}"
      onclick="location.href = '/designs/organic/index.html'"
    >
      ORGANIC
    </button>
    <button
      class="{{activeRetro}}"
      onclick="location.href = '/designs/retro/index.html'"
    >
      RETRO
    </button>
  </div>
</div>
