<div class="style-switcher {{currentStyle}}">
  <div class="switcher-label">Escolha o Estilo</div>
  <div class="switcher-buttons">
    <button onclick="location.href = '/index.html'">Home</button>
    <button
      class="{{activeEditorial}}"
      onclick="location.href = '/designs/editorial/index.html'"
    >
      Editorial
    </button>
    <button
      class="{{activeBrutalist}}"
      onclick="location.href = '/designs/brutalist/index.html'"
    >
      Brutal
    </button>
    <button
      class="{{activeOrganic}}"
      onclick="location.href = '/designs/organic/index.html'"
    >
      Organic
    </button>
    <button
      class="{{activeRetro}}"
      onclick="location.href = '/designs/retro/index.html'"
    >
      Retro
    </button>
  </div>
</div>
