<div class="modal-header">
  <div>
    <div class="modal-cat">
      {{categoryUpper}} // RECEITA_{{displayIndexModal}}
    </div>
    <div class="modal-title">{{title}}</div>
  </div>
  <button class="modal-close" onclick="closeModal()">✕</button>
</div>
<div class="modal-body">
  <div class="modal-block">
    <div class="modal-block-title">INGREDIENTES ({{ingredientsCount}})</div>
    <div class="ing-grid">{{ingredientsDIV}}</div>
  </div>
  <div class="modal-block">
    <div class="modal-block-title">PREPARAÇÃO ({{stepsCount}} PASSOS)</div>
    {{stepsDIV_BLOCK}}
  </div>
  {{notesHTML}}
</div>
